{% layout 'theme' %}

<div class="auth-page">
  <div class="auth-card">
    <span class="auth-card__eyebrow">ACCOUNT RECOVERY</span>
    <h1 class="auth-card__title">RESET PASSWORD</h1>
    <p class="auth-card__desc">Enter your new password below to regain access to your account.</p>

    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <ul class="auth-form__errors" role="alert">
          {%- for error in form.errors -%}
            <li>{{ form.errors.messages[error] }}</li>
          {%- endfor -%}
        </ul>
      {%- endif -%}

      <div class="auth-form__group">
        <label class="auth-form__label" for="ResetPassword">New Password</label>
        <input
          class="auth-form__input"
          type="password"
          id="ResetPassword"
          name="customer[password]"
          autocomplete="new-password"
          required
          minlength="5"
        >
      </div>

      <div class="auth-form__group">
        <label class="auth-form__label" for="ResetPasswordConfirm">Confirm New Password</label>
        <input
          class="auth-form__input"
          type="password"
          id="ResetPasswordConfirm"
          name="customer[password_confirmation]"
          autocomplete="new-password"
          required
        >
      </div>

      <button class="auth-form__submit" type="submit">UPDATE PASSWORD</button>
    {%- endform -%}
  </div>
</div>
